*~
.DS_Store
sqlnet.log
*.log
*.pid
*.pyc
*.pot
local_settings.py
.vagrant
*.sqlite3
secure*.py*
!secure.py.example
jwplayer/
data/
requirements/*.txt
!requirements/base.txt
!requirements/local.txt
!requirements/qa.txt
!requirements/test.txt
!requirements/production.txt
