{% extends "icommons_ui/base_ext.html" %}
{% block content %}
 <article>

{% if user_can_create_course %}

    <div class="col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0">
 
{% else %}

    <div class="col-md-6 col-md-offset-3">

{% endif %}

        <h1>Course Information</h1>

        <h3>Course:</h3>
        <ul>
        {% if lms_course_urls|length == 0 %}
            <li>{{course.title|safe}} - {{course.sub_title|safe}}</li>
        {% elif lms_course_urls|length == 1 %}
            {% for url in lms_course_urls %}
                <li>
                <a href="{{ url }}">{{course.title|safe}} - {{course.sub_title|safe}}</a>
                </li>
            {% endfor %}
        {% else %}
            <li>{{course.title|safe}} - {{course.sub_title|safe}}
                <ul>
                {% for url in lms_course_urls %}
                    <li><a href="{{ url }}">{{url}}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endif %}
        </ul>

        {% if course.course.school %}
            <h3>School:</h3>
            <p>{{course.course.school}}</p>
        {% endif %}
        
        {% if course.instructors_display %}
            <h3>Instructor:</h3>
            <p>{{course.instructors_display|safe}}</p>
        {% endif %}

        {% if course.term %}
            <h3>Term:</h3>
            <p>{{course.term}}</p>
        {% endif %}

        {% if course.meeting_time %}
            <h3>Meeting Time:</h3>
            <p>{{course.meeting_time}}</p>
        {% endif %}

        {% if course.location %}
            <h3>Location:</h3>
            <p>{{course.location}}</p>
        {% endif %}

        {% if course.exam_group %}
            <h3>Exam Group:</h3>
            <p>{{course.exam_group|safe}}</p>
        {% endif %}

        {% if course.description %}
            <h3>Description:</h3>
            <p>{{course.description|safe}}</p>
        {% endif %}

        {% if course.notes %}
            <h3>Notes:</h3>
            <p>{{course.notes|safe}}</p>
        {% endif %}

    </div>
</article>


{% if user_can_create_course %}
<aside>
    <div class="rightColumn col-md-4 col-sm-4">
        <div class="ext-aside">
            <h2>Teaching Staff</h2>
            <p>Click below to start building your Canvas course web site</p>
            <button class="btn">Create your course</button>
        </div>
    </div>
</aside>
{% endif %}

{% endblock content %}



 