SECURE_SETTINGS = {
   'env_name': '{{ secure_settings.env_name }}',

   'django_db_user': '{{ secure_settings.django_db_user }}',
   'django_db_pass': '{{ secure_settings.django_db_pass }}',
   'django_secret_key': '{{ secure_settings.django_secret_key }}',

   'icommons_api_host': '{{ secure_settings.icommons_api_host }}',
   'icommons_api_user': '{{ secure_settings.icommons_api_user }}',
   'icommons_api_pass': '{{ secure_settings.icommons_api_pass }}',

   'canvas_url': '{{ secure_settings.canvas_url }}',
   'canvas_token': '{{ secure_settings.canvas_token }}',

   'qualtrics_agreement_id': '{{ secure_settings.qualtrics_agreement_id }}',
   'qualtrics_auth_group': '{{ secure_settings.qualtrics_auth_group }}',
   'qualtrics_api_key': '{{ secure_settings.qualtrics_api_key }}',
   'qualtrics_api_url': '{{ secure_settings.qualtrics_api_url }}',
   'qualtrics_api_user': '{{ secure_settings.qualtrics_api_user }}',
   'qualtrics_api_token': '{{ secure_settings.qualtrics_api_token }}',

   'email_host': '{{ secure_settings.email_host }}',
   'email_host_user': '{{ secure_settings.email_host_user }}',
   'email_host_password': '{{ secure_settings.email_host_password }}',
   'email_port': '{{ secure_settings.email_port }}',
   'email_use_tls': '{{ secure_settings.email_use_tls }}',

   # TODO: remove since not used anywhere
   'cipher_key' : '{{ secure_settings.cipher_key }}',

   ######
   # TODO: remove these since used in canvas_wizard non-production app
   ######
   'old_lms_url' : '{{ secure_settings.old_lms_url }}',
}
