{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{% static "favicon.ico" %}" rel="icon" type="image/x-icon"> 
  {% block stylesheet %}
    {% block fonts %}
      <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    {% endblock fonts %}
    {% if debug == True %}
      <link rel="stylesheet/less" type="text/css" href="{% static "harvard-bootstrap/less/harvard-bootstrap.less" %}" />
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static "harvard-bootstrap/css/harvard-bootstrap.css" %}" media="screen"/>
    {% endif %}
 {% endblock stylesheet %}
  <title>{% block page_title %}{% endblock page_title %}</title>
</head>
{% block bodytag %}<body class="ext">{% endblock bodytag %}
  
  <header role="banner"><!-- header (start) -->
    <div class="section"><!-- section (start) -->
        <img src="{% static "images/harvardLogo.png" %}" title="Harvard University." alt="Harvard University." /> 
          <ul id="userInfo">
            <li>{{ user.first_name }} {{ user.last_name }}</li>
            <li><a href="{{ PIN_LOGOUT_URL }}">Sign out</a></li>
          </ul>
      </div><!-- section (end) -->
  </header><!-- header (end) -->

  {% block navbar %}
  
  {% endblock navbar %}

  {% block jumbotron %}{% endblock jumbotron %}

  <main role="main">
    <div class="container">
    {% block breadcrumb %}{% endblock %}

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissable">
        {% else %}
          <div class="alert alert-{{ message.tags }} alert-dismissable">
        {% endif %}
          <button type="button" class="close" data-dismiss="alert">&times;</button>

          {% comment %}
          {% if message.tags == 'success' %}
            <i class="h3 fa fa-check-circle"></i>
          {% endif %}

          {% if message.tags == 'info' %}
            <i class="h3 fa fa-info-circle"></i>
          {% endif %}

          {% if message.tags == 'warning' %}
            <i class="h3 fa fa-exclamation-circle"></i>
          {% endif %}

          {% if message.tags == 'error' %}
            <i class="h3 fa fa-times-circle"></i>
          {% endif %}
          {% endcomment %}
          
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <h1>Oops!</h1>
    <p>Sadly, there was a problem. Please notify your local academic support staff:</p>
    <ul>
      <li>DCE: AcademicTechnology@dce.harvard.edu</li>
      <li>FAS: atg@fas.harvard.edu</li>
      <li>GSD: klau@gsd.harvard.edu</li>
      <li>GSE: it_onestop@gse.harvard.edu</li>
      <li>HDS: coursesites@hds.harvard.edu</li>
      <li>HKS: helpdesk@hks.harvard.edu</li>
      <li>HLS: ask@edtech.libanswers.com</li>
      <li>HMS: mycourses_support@hms.harvard.edu</li>
      <li>HSPH: icf@hsph.harvard.edu</li>
    </ul> 

    </div>

    {% block footer %}
      <footer role="contentinfo">
        <div class="col-md-10 col-md-offset-2 copyright-text">
          <small>Copyright &copy; 2014 The President and Fellows of Harvard College</small>
        </div>
        
      </footer>
    {% endblock footer %}
  </main>


  
  {% block javascript %}
    {% if debug %}
      <script src="{% static "harvard-bootstrap/js/less-1.5.0.min.js" %}"></script>
    {% endif %}
    <script src="{% static "jquery-1.10.2/jquery-1.10.2.min.js"  %}"></script>
    <script src="{% static "bootstrap-3.0.3/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "listjs/list.min.js" %}"></script>
  {% endblock javascript %}
</body>
</html>
