{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{% static "favicon.ico" %}" rel="icon" type="image/x-icon">
  {% block stylesheet %}
    {% block fonts %}
      <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    {% endblock fonts %}
    {% if debug == True %}
      <link rel="stylesheet/less" type="text/css" href="{% static "harvard-bootstrap/less/harvard-bootstrap.less" %}" />
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static "harvard-bootstrap/css/harvard-bootstrap.css" %}" media="screen"/>
    {% endif %}
 {% endblock stylesheet %}
  <title>{% block page_title %}{% endblock page_title %}</title>
</head>
{% block bodytag %}<body class="ext">{% endblock bodytag %}

  <header role="banner"><!-- header (start) -->
    <div class="section"><!-- section (start) -->
        <img src="{% static "images/harvardLogo.png" %}" title="Harvard University." alt="Harvard University." />
          <ul id="userInfo">
            <li>{{ user.first_name }} {{ user.last_name }}</li>
            <li><a href="{{ PIN_LOGOUT_URL }}">Sign out</a></li>
          </ul>
      </div><!-- section (end) -->
  </header><!-- header (end) -->

  {% block navbar %}

  {% endblock navbar %}

  {% block jumbotron %}{% endblock jumbotron %}

  <main role="main">
    <div class="container">
    {% block breadcrumb %}{% endblock %}

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissable">
        {% else %}
          <div class="alert alert-{{ message.tags }} alert-dismissable">
        {% endif %}
          <button type="button" class="close" data-dismiss="alert">&times;</button>

          {{ message }}
        </div><!-- class='alert ...' -->
      {% endfor %}
    {% endif %}

    {% if unauthorized %}
      <h1>Unauthorized</h1>
      <p>
        It appears that you don't have permission to access this page.
        If you think you should be able to access this page,
        please contact your local academic support staff.
      </p>
    {% else %}
      <h1>Oops!</h1>
      
      {% if renderable_error %}

          {% if renderable_error.support_notified %}
            <p>There was a problem creating your course website. <strong>The IT help desk has been notified and will be in touch with you.</strong></p>
            <p>{{ renderable_error.display_text }}</p>
            <p>In the meantime if you have any questions please contact your local academic support staff:</p>
          {% else %}
            <p>Sadly, there was a problem.</p>
            <p>Please notify your local academic support staff and include the following information:
            <p>{{ renderable_error.display_text }}</p>
          {% endif %}

      {% else %}
          <p>Please notify your local academic support staff:</p>
      {% endif %}



      <ul>
        <li>DCE/Summer: <a href="mailto:AcademicTechnology@dce.harvard.edu{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">AcademicTechnology@dce.harvard.edu</a></li>
        <li>FAS: <a href="mailto:atg@fas.harvard.edu{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">atg@fas.harvard.edu</a></li>
        {# Note: For icommons_ext_tools, renderable_errors are currently only being shown by django_canvas_course_site_wizard #}
        {# TLT-486 specifies that only DCE and FAS point of contact info will be shown for errors during Canvas course site creation #}
        {% if not renderable_error %}
          <li>GSD: <a href="mailto:klau@gsd.harvard.edu{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">klau@gsd.harvard.edu</a></li>
          <li>GSE: <a href="mailto:it_onestop@gse.harvard.edu{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">it_onestop@gse.harvard.edu</a></li>
          <li>HDS: <a href="mailto:coursesites@hds.harvard.edu{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">coursesites@hds.harvard.edu</a></li>
          <li>HKS: <a href="mailto:helpdesk@hks.harvard.edu{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">helpdesk@hks.harvard.edu</a></li>
          <li>HLS: <a href="mailto:ask@edtech.libanswers.com{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">ask@edtech.libanswers.com</a></li>
          <li>HMS: <a href="mailto:mycourses_support@hms.harvard.edu{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">mycourses_support@hms.harvard.edu</a></li>
          <li>HSPH: <a href="mailto:mets@hsph.harvard.edu{% if renderable_error %}?subject={{ renderable_error.display_text }}{% endif %}">mets@hsph.harvard.edu</a></li>
        {% endif %}
      </ul>
    {% endif %}

    </div><!-- class='container' -->

    {% block footer %}
      <footer role="contentinfo">
        <div class="col-md-10 col-md-offset-2 copyright-text">
          <small>Copyright &copy; 2014 The President and Fellows of Harvard College</small>
        </div>

      </footer>
    {% endblock footer %}
  </main>



  {% block javascript %}
    {% if debug %}
      <script src="{% static "harvard-bootstrap/js/less-1.5.0.min.js" %}"></script>
    {% endif %}
    <script src="{% static "jquery-1.10.2/jquery-1.10.2.min.js"  %}"></script>
    <script src="{% static "bootstrap-3.0.3/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "listjs/list.min.js" %}"></script>
  {% endblock javascript %}
</body>
</html>
