{% extends "canvas_wizard/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Select Template or Previous Course{% endblock %}
{% block pagetitle %}Select Template or Previous Course{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}


<a href="{% url 'cw:add_course_delegate_form' %}" class="btn btn-default">Add/View Course Delegate</a>

 <div class="well well-lg">
{% if msg %}
{{msg}}
{% else %}

<h1>{{selected_course.title|safe}}</h1>
<h3>{{selected_course.short_title|safe}} {{selected_course.sub_title|safe}}</h3>

<div id="description">
    {{selected_course.description|safe}}
</div>
<br />
<div id="location">
    {{selected_course.meeting_time}}<br />
    {{selected_course.location}} <br />
    {{selected_course.term}}
</div>
<br />
<div id="instructor">
    {{selected_course.instructors_display|safe}}
</div>
<br />
<div id="notes">
    {{selected_course.notes|safe}}
</div>
{% endif %}
</div>

<br />

{% if admin %}



<div class="well well-lg">
<form action="{% url 'cw:select_isite_import' %}" method="get" role="form">
	{% csrf_token %}
<table class="table table-bordered">
     <caption class="lead">Templates</caption>
    <thead>
        <tr>
        	<th></th>
         	<th>Template ID</th>
            <th>Template Term</th>
            <th>Template Name</th>
            <th>Canvas Course ID</th>
        </tr>
    </thead>
    <tbody>
    {% for template in templates %}
        <tr>
            <td><input type="radio" name="template" value="template-{{template.template_id}}" required></td>
            <td>{{template.template_id}}</td>
            <td>{{template.term}}</td>
            <td>{{template.title}}</td>
            <td>{{template.canvas_course_id}}</td>
        </tr>
    {% endfor %}
	<tbody>
</table>

<table class="table table-bordered">
     <caption class="lead">Courses</caption>
    <thead>
        <tr>
        	<th></th>
         	<th>Canvas ID</th>
            <th>Term</th>
            <th>Short Name</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
    {% for course in courses %}
        <tr>
            <td><input type="radio" name="template" value="course-{{course.canvas_course_id}}" required></td>
            <td>{{course.canvas_course_id}}</td>
            <td>{{course.term}}</td>
            <td>{{course.short_title|safe}} {{course.sub_title|safe}}</td>
            <td>{{course.title|safe}}</td>
        </tr>
    {% endfor %}
	<tbody>
</table>

<input type="submit" value="Next" class="btn btn-success"/>
</form>
</div>
{% endif %}

{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
	$(document).ready(function() {
		//$('.datatable').dataTable();
	});
</script>
{% endblock %}