{% extends "canvas_wizard/base.html" %}

{% block title %}Course Created{% endblock %}
{% block pagetitle %}Course Created{% endblock %}

{% block stylesheet %}
{{ block.super }}
<style>
.progress {
    margin-top: 30px;
    width: 400px;
}
</style>
{% endblock %}

{% block content %}

<h3>course creation in progress</h3>

<p>Course selected: {{session.course_id}}</p>
<p>Template selected: {{session.template_id}}</p>
<p>iSites Selected for file import: {{session.isite_site_id}}</p>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    0%
  </div>
</div>


<a href="http://canvas.icommons.harvard.edu/courses/4580" class="btn btn-primary">Course Link</a>

<a href="{% url 'cw:select_course' %}" class="btn btn-primary">Create another course</a>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
var progress = setInterval(function() {
    var $bar = $('.progress-bar');
    
    if ($bar.width()==400) {
        clearInterval(progress);
        $('.progress').removeClass('active');
    } else {
        $bar.width($bar.width()+40);
    }
    $bar.text($bar.width()/4 + "%");
}, 800);
</script>
{% endblock %}