<h3>
  We're sorry, your ID doesn't appear to have access to this Qualtrics license.
</h3>
<p>
  <ul>
    <li>
      HMS/HSDM affiliates--<a href="https://collaborate.hms.harvard.edu/x/z4Gm">instructions
      on how to login to your HMS Qualtrics account:
      https://collaborate.hms.harvard.edu/x/z4Gm</a>
    </li>
    <li>
      HBS affiliates--<a href="https://hbs.qualtrics.com/ControlPanel/">login
      to your HBS Qualtrics account: https://hbs.qualtrics.com/ControlPanel/</a>
      or to create an account contact
      <a href="mailto:ithelp@hbs.edu">ithelp@hbs.edu</a> (617) 495-6600.
    </li>
    <li>
      XID holders are not able to access Qualtrics through this license.
    </li>
  </ul>
</p>

<p>
  If you think that you should be able to access Qualtrics through this license,
  please <a href="mailto:ithelp@harvard.edu">contact us at ithelp@harvard.edu</a>
  and ask us to verify that your account is set up correctly.
</p>
