{% extends "qualtrics_link/base.html" %}

{% block title %}Qualtrics Terms of Service Agreement{% endblock %}
{% block pagetitle %}Qualtrics Terms of Service Agreement{% endblock %}

{% block content %}
	<h2>Qualtrics Agreement</h2>


    <p>The Qualtrics survey tool is available for use by Harvard faculty, staff, and students in support of the university's educational mission and organizational goals.  By using Qualtrics you are agreeing to adhere to the following terms:
    </p>
    <label for="agree1">Appropriate Use</label>
    <ul id="agree1">

    <li>No High Risk Confidential Information
    University policies prohibit the use of Qualtirics for "high-risk, confidential information," or HRCI. For a definition of HRCI, please see http://www.security.harvard.edu/glossary-terms.  For Harvard security policies, please see, http://ww.security.harvard.edu. For research data security policies, please see: http://security.harvard.edu/focus-research.
    </li>
    <li>Human Subject Research Must Be Approved by an IRB
    In accordance with federal regulations and Harvard University policies, all research involving human subjects must be reviewed and approved by an Institutional Review Board (IRB) prior to any research intervention with a participant. Please visit the Web site for the Harvard Office of the Vice Provost for Research for more information: http://vpr.harvard.edu/. You are responsible for ensuring compliance with federal regulations and Harvard research policies.
    </li>
    <li>Protecting Privacy
    All surveys must protect the privacy and confidentiality of student, employee and other institutional information, as required by FERPA (privacy of student information), appropriate state laws, and Harvard policies.  Although a closed group of participants may complete Qualtrics surveys without the individuals explicitly having to identify themselves, the Qualitrics software stores identifying information in its databases. Consequently, Qualtrics can not be used with absolute guarantees of anonymity for your participants.
    </li>
    <li>Compliance with all other  Laws ad Policies
    Surveys must comply with all other applicable University policies and state and federal laws, including the federal [http://www.copyright.gov/help/faq]   [http://www.copyright.gov/help/faq] laws  for copyright [http://www.copyright.gov/help/faq]   [http://www.copyright.gov/help/faq]  and privacy.
    </li>
    <li>The survey service may not be used for personal or commercial gain</li>
    <li>Unsolicited mass communication may not be delivered in conjunction with the survey service</li>
    <li>Survey participants should be informed that their survey data will be stored on a third party server and that, while the third party has agreed to keep the data confidential, Harvard does not control the security of that server.
    </li>
    </ul>
    <p>
    The Office of the University CIO reserves the right to change, at any time, and at its sole discretion, this survey service and these Terms of Use. Notification of changes will be published at http://survey.harvard.edu.
    </p>
    <p>
    I understand that The Harvard Qualtrics survey tool may not be used to store or process high-risk, confidential information (HRCI) as defined by Harvard policy and federal law. I understand that all uses of the Harvard Qualtrics tool for human subjects research must be approved by my IRB, and that I should consult with the Office of the Vice Provost for Research for more information.
    </p>
    <label for="disclaimer">Disclaimer</label>
    <p id="disclaimer">
    The surveys created or the responses supplied using the survey service do not in any way constitute official Harvard content. The views and opinions expressed are strictly those of the survey&rsquo;s authors. The contents of the surveys and responses have not been reviewed or approved by Harvard.
    </p>


<a href="{% url 'ql:user_accept_terms' %}" class="btn btn-primary">Accept</a>

<a href="{% url 'ql:user_decline_terms' %}" class="btn btn-link"> Decline </a>
 
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>

</script>

{% endblock %}
