{% extends "qualtrics_link/base.html" %}

{% block title %}Qualtrics Terms of Service Agreement{% endblock %}
{% block pagetitle %}Qualtrics Terms of Service Agreement{% endblock %}

{% block content %}
	<h2>Qualtrics Agreement</h2>


{{agreement|safe}}


<a href="{% url 'ql:user_accept_terms' %}" class="btn btn-default">Accept</a>

<a href="{% url 'ql:user_decline_terms' %}" class="btn btn-link"> Decline </a>
 
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>

</script>

{% endblock %}
