{% extends "qualtrics_link/base.html" %}

{% block title %}Qualtrics Terms of Service Agreement{% endblock %}
{% block pagetitle %}Qualtrics Terms of Service Agreement{% endblock %}

{% block content %}
	<h2>Qualtrics Agreement</h2>


{{agreement|safe}}

<div class="btn btn-default">
	<a href="{% url 'ql:user_accept_terms' %}">Accept</a>
</div>
<a href="{% url 'ql:user_decline_terms' %}">[ Decline ]</a>
 
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>

</script>

{% endblock %}
