{% extends "qualtrics_link/base.html" %}

{% block title %}Qualtrics Status{% endblock %}
{% block pagetitle %}Qualtrics Status{% endblock %}

{% block stylesheet %}
{{ block.super }}

<style>
	.my-new-list { 
		display: normal; 
		float: right;
	}
	.table {  }
	caption { 
		margin-bottom: 10px; 
		font-size: large; 
		font-weight: bold;
	}
	.caption {
		margin-bottom: 10px; 
		font-size: large; 
		font-weight: bold;
	}
	#datadiv { 
		float: right; 
	}
	.tdcss { 
		padding-right: 20px;
	}
	.qdata { }
	td {
		display: table-cell;
		word-break:break-word;
	}
	#calloutdata {
		margin-bottom: 10px;
	}

</style>

{% endblock %}

{% block content %}

<h2>Qualtrics Status</h2>

<div id="formdiv">
<form action="internal" method="get">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>

<br />



<br />

<table>
	<tr>
		<td valign="top" class="tdcss">
			<table class="table">
			 	<caption>Person Data from iCommons API</caption>
			    {% for key,value in  person.items %}
			    <tr> <th>{{key}}</th><td>{{value}}</td></tr> 
			    {% endfor %}
			</table>
		</td>
		<td valign="top">
			 <table class="table">
			 	<caption>Processed Data</caption>
			   	<tr> <th>user_id</th><td>{{huid}} </td></tr> 
			    <tr> <th>authenticated</th><td>{{request.user.is_authenticated}}</td></tr> 
			    {% for key,value in  keyValueDict.items %}
			    <tr> <th>{{key}}</th><td>{{value}}</td></tr> 
			    {% endfor %}
			    <tr><th>user_in_whitelist</th><td>{{user_in_whitelist}}</td></tr>
			</table>
		</td>
		<td valign="top">
			<div id="datadiv"><span class="caption">Data from the Qualtrics API:</span></div>
		</td>
	</tr>
</table>


<div id="calloutdata"></div>


<p><a href="{{ssotestlink}}">Qualtrics SSO test Link</a></p>
<p><a href="{{qualtricslink}}">Qualtrics Survey Link</a></p>

{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript">

$(document).ready(function() {
	$.getJSON( "get_org_info.json", function( data ) {
	
		var items = [];
		$.each( data.org_info[0].getResponseCountsByOrganization.Result, function( key, val ) {
		    	items.push( "<div class='qdata'>" + key + ": " + val + "</div>" );
		  	});
		$.each( data.org_info[1].getOrgActivity.Result, function( key, val ) {
			$.each( val, function(tkey, value) {
		    	items.push( "<div class='qdata'>" + tkey + ": " + value + "</div>" );
		    });
		});

		users = data.org_info[1].getOrgActivity.Result.UserActivity.TotalUsers;
		surveys = data.org_info[1].getOrgActivity.Result.Surveys.TotalSurveys;
		responses = data.org_info[0].getResponseCountsByOrganization.Result.Auditable;
		
		var calloutitems = [];
		calloutitems.push("<li class='qdata'>Users: "+users+"</li>");
		calloutitems.push("<li class='qdata'>Surveys: "+surveys+"</li>");
		calloutitems.push("<li class='qdata'>Responses: "+responses+"</li>");

		$("<ul/>",{
		"class": "my-new-list", 
		html: calloutitems.join("")
		}).appendTo("#calloutdata");


		$( "<div/>", {
		"class": "my-new-list",
		html: items.join( "" )
		}).appendTo( "#datadiv" );

		$('#datadiv ul').css('list-style-type', 'none');
		$('#datadiv ul li').css('display', 'normal');
		$('li').css('margin-left','10px');
	});
});
</script>

{% endblock %}
