{% extends "qualtrics_link/base.html" %}

{% block title %}Qualtrics Status{% endblock %}
{% block pagetitle %}Qualtrics Status{% endblock %}

{% block stylesheet %}
{{ block.super }}

<style>
 .my-new-list { display: normal; float: right;}
 .table {  }
 caption { margin-bottom: 10px; font-size: large; font-weight: bold;}
 /*#formdiv { margin: 5px 5px;}*/
 #datadiv { float: right; }
 .tdcss { padding-right: 20px;}
 .qdata { }
td {
   display: table-cell;
   word-break:break-word;
}

</style>

{% endblock %}

{% block content %}

<h2>Qualtrics Status</h2>

<div id="formdiv">
<form action="launch" method="get">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
</form>
</div>

<br />

<div id="datadiv">Data from the Qualtrics API:<br />
</div>

<br />

<table>
	<tr>
		
		<td valign="top" class="tdcss">
			<table class="table">
			 	<caption>Person Data from iCommons API</caption>
			    {% for key,value in  person.items %}
			    <tr> <th>{{key}}</th><td>{{value}}</td></tr> 
			    {% endfor %}
			</table>
		</td>
		<td valign="top">
			 <table class="table">
			 	<caption>Processed Data</caption>
			   	<tr> <th>user_id</th><td>{{huid}} </td></tr> 
			    <tr> <th>authenticated</th><td>{{request.user.is_authenticated}}</td></tr> 
			    {% for key,value in  keyValueDict.items %}
			    <tr> <th>{{key}}</th><td>{{value}}</td></tr> 
			    {% endfor %}
			</table>
		</td>
	</tr>
</table>

<p><a href="{{ssotestlink}}">Qualtrics SSO test Link</a></p>
<p><a href="{{qualtricslink}}">Qualtrics Survey Link</a></p>

{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript">

$(document).ready(function() {
	$.getJSON( "get_org_info", function( data ) {
	
		var items = [];
		$.each( data.org_info[0].getResponseCountsByOrganization.Result, function( key, val ) {
		    	items.push( "<div class='qdata'>" + key + ": " + val + "</div>" );
		  	});
		$.each( data.org_info[1].getOrgActivity.Result, function( key, val ) {
			$.each( val, function(tkey, value) {
		    	items.push( "<div class='qdata'>" + tkey + ": " + value + "</div>" );
		    });
		});
		
		$( "<div/>", {
		"class": "my-new-list",
		html: items.join( "" )
		}).appendTo( "#datadiv" );

		$('#datadiv ul').css('list-style-type', 'none');
		$('#datadiv ul li').css('display', 'normal');
		$('li').css('margin-left','10px');
	});



});
</script>

{% endblock %}
