
{% extends "qualtrics_link/base.html" %}

{% block title %}Not Authorized{% endblock %}
{% block pagetitle %}Not Authorized{% endblock %}

{% block stylesheet %}
{{ block.super }}
<style type="text/css">
.bold { font-weight: bold;}
</style>
{% endblock %}

{% block content %}

{% include "qualtrics_link/_unauthorized_message.html" %}

<br />
<p>
	<a href="http://surveytools.harvard.edu/" class="btn btn-primary">Return to Survey Tools page</a>
</p>

{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}
