
{% extends "qualtrics_link/base.html" %}

{% block title %}Not Authorized{% endblock %}
{% block pagetitle %}Not Authorized{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}

<p class="noaccess">
Affiliates from Harvard Medical School and Harvard Dental School have access to Qualtrics through a local school license.  HMS/HSDM users should contact <a href="mailto:mycourses_support@hms.harvard.edu">mycourses_support@hms.harvard.edu</a> or 617-432-1773 for more information.
</p>

<p class="noaccess">
Affiliates from Harvard Business School are not able to access Qualtrics through the university license and the service is not currently offered by HBS IT.
</p>

<p class="noaccess">If you believe that you should be able to access Qualtrics, please contact <a href="mailto:ithelp@harvard.edu">ithelp@harvard.edu</a> and we'll verify that your Harvard account is configured correctly.</p>


<p>
	<a href="http://surveytools.harvard.edu/" class="btn btn-default">Return to Survey Tools page</a>
</p>

{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}