
{% extends "qualtrics_link/base.html" %}

{% block title %}Not Authorized{% endblock %}
{% block pagetitle %}Not Authorized{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}

<p class="noaccess">
User is not authorized, they have division {{division}}. See table below for more details.
</p>

<br />

<table class="table">
 	<caption>Person Data from iCommons API</caption>
    {% for key,value in  person.items %}
    <tr> <th>{{key}}</th><td>{{value}}</td></tr> 
    {% endfor %}
</table>

<div class="btn btn-default">
	<a href="{% url 'ql:internal' %}">Return to main form</a>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}