
{% extends "qualtrics_link/base.html" %}

{% block title %}Not Authorized{% endblock %}
{% block pagetitle %}Not Authorized{% endblock %}

{% block stylesheet %}
{{ block.super }}
<style type="text/css">
	.bold { font-weight: bold;}
	caption {
		margin-bottom: 10px;
		font-size: large;
		font-weight: bold;
	}
</style>
{% endblock %}

{% block content %}

{% include "qualtrics_link/_unauthorized_message.html" %}

<br />
<table>
	<tr><td valign="top">
<table class="table table-striped table-hover">
 	<caption>iCommons API Data</caption>
    {% for key,value in  person.items %}
    <tr> <th>{{key}}</th><td>{{value}}</td></tr>
    {% endfor %}
</table>
</td><td valign="top">
<table class="table table-striped table-hover">
 	<caption>Processed Data</caption>
    {% for key,value in  processeddata.items %}
    <tr> <th>{{key}}</th><td>{{value}}</td></tr>
    {% endfor %}
</table>
</td>
</tr>
</table>
<a href="{% url 'ql:internal' %}" class="btn btn-primary">Return to Survey Tools page</a>

{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}
