
{% extends "qualtrics_link/base.html" %}

{% block title %}Not Authorized{% endblock %}
{% block pagetitle %}Not Authorized{% endblock %}

{% block stylesheet %}
{{ block.super }}
<style type="text/css">
	.bold { font-weight: bold;}
	caption {
		margin-bottom: 10px;
		font-size: large;
		font-weight: bold;
	}
</style>
{% endblock %}

{% block content %}

{% include "qualtrics_link/_unauthorized_message.html" %}

<br />
<table>
	<tr>
		<td valign="top">
			<table class="table table-striped table-hover">
			 	<caption>People Data</caption>
				<tr> <th>First name</th><td>{{person.name_first}}</td></tr>
				<tr> <th>Last name</th><td>{{person.name_last}}</td></tr>
				<tr> <th>Email</th><td>{{person.email_address}}</td></tr>
				<tr> <th>Role</th><td>{{person.role_type_cd}}</td></tr>
				<tr> <th>Department</th><td>{{person.faculty_cd}}</td></tr>
				<tr> <th>School affiliations</th><td>{{processed_data.school_affiliations}}</td></tr>
				<tr> <th>ID</th><td>{{person.univ_id}}</td></tr>
			</table>
		</td>
		<td valign="top">
			 <table class="table table-striped table-hover">
			 	<caption>Processed Data</caption>
			   	<tr> <th>user_id</th><td>{{huid}} </td></tr>
			    <tr> <th>authenticated</th><td>{{request.user.is_authenticated}}</td></tr>
				<tr> <th>First name</th><td>{{processed_data.first_name}}</td></tr>
				<tr> <th>Last name</th><td>{{processed_data.last_name}}</td></tr>
				<tr> <th>Email</th><td>{{processed_data.email}}</td></tr>
				<tr> <th>Role</th><td>{{processed_data.role}}</td></tr>
				<tr> <th>Division</th><td>{{processed_data.division}}</td></tr>
				<tr> <th>ID</th><td>{{processed_data.id}}</td></tr>
				<tr> <th>Valid School</th><td>{{processed_data.valid_school}}</td></tr>
				<tr> <th>Valid Dept</th><td>{{processed_data.valid_dept}}</td></tr>
			    <tr><th>user_in_whitelist</th><td>{{user_in_whitelist}}</td></tr>
			</table>
		</td>
		<td valign="top" id="data">
		</td>
	</tr>
</table>
<a href="{% url 'ql:internal' %}" class="btn btn-primary">Return to Survey Tools page</a>

{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}
